<!DOCTYPE html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Experion Referrals</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet" />
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js" rel="stylesheet" /> -->


</head>

<body>
  <header class="d-flex justify-content-between bg-colored">
    <nav class="navbar navbar-dark bg-colored">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/brand_logo.png" width="26" class="d-inline-block align-top" alt="" />
        RMS
      </a>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item" aria-current="page">Data</li>
      </ol>
    </nav>
    <div class="user-info">
      <a class="" href="#">
        <img src="../../assets/images/user.png" width="26" class="d-inline-block align-top rounded" alt="" />
        <span>Abra Qureshi</span>
      </a>
    </div>
  </header>

  <section class="exp-l-container">
    <section class="exp-l-wrapper">
      <section class="exp-l-content-nav">
        <div class="exp-l-content-nav-col">
          <i class="fas fa-arrow-left"></i>
        </div>
        <div class="exp-l-content-nav-col">
          <span class="nav-title">Create Job Opening</span>
        </div>
      </section>
      <section class="exp-l-content">
        <form style="width: 100%;" class="form-signin" #frm="ngForm" [formGroup]="form">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputState">Business Unit</label>
              <select id="inputStateBU" class="form-control"  #bu>
                <option selected disabled >Select</option>
                <option *ngFor="let bu of vac?.buissnessUnit ">{{ bu }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="Role">Job Role</label>
              <select type="text" class="form-control"  id="Role" placeholder="Role" #role >
                  <option selected disabled >Select</option>
                  <option *ngFor="let bu of vac?.jobRole ">
                  {{ bu }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12" #ps>
              <label for="ps">Primary Skills</label>
              <div>
                <select id="primarySkills" class="form-control" (change)="onAddSkill()" type="text" #in>
                    <option selected disabled >Select</option>
                    <!-- <option *ngFor="let bu of vac?.primarySkills " data-role="tagsinput" class="bootstrap-tagsinput"
                    id="ps">
                    {{ bu }}
                  </option> -->
                  <option>isgaixg</option>
                </select>
              </div>
              <div  data-role="tagsinput" class="bootstrap-tagsinput" id="ps">
                <span class="tag label label-info" *ngFor="let b of prSkills; let i = index">
                  <span type="text" value="" data-role="tagsinput">
                    {{ b }}
                  </span>
                  <span>
                    <button type="reset" data-role="remove" (click)="onRemove(i)"></button>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="inputAddress3">Experience</label>
              <input id="experience" class="form-control"  #exp>
                <!-- <option *ngFor="let bu of vac?.Experience ">{{ bu }}</option> -->
              <!-- </select> -->
            </div>
            <div class="form-group col-md-4">
              <label for="inputAddress2">Location</label>
              <select type="text" class="form-control" id="location" placeholder="Location"  #loc >
                  <option selected disabled >Select</option>
                  <option *ngFor="let bu of vac?.location ">
                  {{ bu }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="inputAddress2">End Date</label>
              <input type="date" class="form-control" id="edate"  placeholder="Apartment, studio, or floor"
                #ed />
            </div>
            <div class="form-group col-md-2">
              <label for="inputAddress2">Vacancies</label>
              <input id="vacancy" class="form-control"  #vc>
                <!-- <option *ngFor="let bu of vac?.vacancies ">{{ bu }}</option>
              </select> -->
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputAddress3">BU Head</label>
              <select id="bhead" class="form-control"  #bh>
                  <option selected disabled >Select</option>
                  <option *ngFor="let bu of vac?.buHead ">{{ bu }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="inputAddress2">Hiring Manager</label>
              <input id="HM" class="form-control"  #hm>
                <!-- <option *ngFor="let bu of vac?.hiringManager ">{{ bu }}</option>
              </select> -->
            </div>
            <div class="form-group col-md-2">
              <label for="inputAddress2">Band</label>
              <select id="bnd" class="form-control"  #bn>
                  <option selected disabled >Select</option>
                  <option *ngFor="let bu of vac?.band ">{{ bu }}</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputAddress2">Job Description</label>
              <input *ngIf="fal==0" type="button" class="form-control button-link" name="Add Link" value="Add Link"/>
              <input  type="url" *ngIf="fal==1" #jd>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputState">Recruiter</label>
              <input id="recru" class="form-control"  #rc>
                <!-- <option *ngFor="let bu of vac?.recruiter ">{{ bu }}</option>
              </select> -->
            </div>
            <div class="col-md-8 align-self-end ">
              <div class="row justify-content-end">
                <div class="form-group col-md-3">
                  <!-- <label for="inputZip">Zip</label> -->
                  <input type="reset" class="btn btn-warning" (click)="onReset()" value="Reset">
                </div>
                <div class="form-group col-md-3">
                  <!-- <label for="inputZip">Zip</label> -->
                  <button type="button" [disabled]="!form.valid" class="btn erm-btn-primary" (click)="onSubmit()">Save</button>
                </div>
              </div>
            </div>
          </div>

        </form>
      </section>
    </section>
  </section>
</body>

</html>