<!DOCTYPE html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Experion Referrals</title>
   <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet" />

</head>

<body>
  <header class="d-flex justify-content-between bg-colored">
    <nav class="navbar navbar-dark bg-colored">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/brand_logo.png" width="26" class="d-inline-block align-top" alt="" />
        RMS
      </a>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item" aria-current="page">Data</li>
      </ol>
    </nav>
    <div class="user-info">
      <a class="" href="#">
        <img src="../../assets/images/user.png" width="26" class="d-inline-block align-top rounded" alt="" />
        <span>Abra Qureshi</span>
      </a>
    </div>
  </header>

  <section class="exp-l-container">
    <section class="exp-l-wrapper">
      <section class="exp-l-content-nav">
        <div class="exp-l-content-nav-col" >
          <i class="fas fa-arrow-left"></i>
        </div>
        <div class="exp-l-content-nav-col">
          <span class="nav-title">Create Job Opening</span>
        </div>
      </section>
      <section class="exp-l-content">
        <form style="width: 100%;" #frm="ngModel" >

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputState" >Business Unit</label>
              <select id="inputState" class="form-control">
                <option *ngFor="let bu of vac?.buissnessUnit " >{{ bu }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="Role">Job Role</label>
              <input type="text" class="form-control" id="Role" placeholder="Role" #role />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputState">Primary Skills</label>
              <div class="bootstrap-tagsinput">
                <span *ngFor="let bu of vac?.primarySkills " class="tag label label-info">{{ bu }}<span data-role="remove"></span></span>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="inputAddress3">Experience</label>
              <select id="inputAddress3" class="form-control">
                <option *ngFor="let bu of vac?.Experience ">{{ bu }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="inputAddress2">Location</label>
              <input type="text" class="form-control" id="location" placeholder="Location" />
            </div>
            <div class="form-group col-md-4">
              <label for="inputAddress2">End Date</label>
              <input type="date" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" />
            </div>
            <div class="form-group col-md-2">
              <label for="inputAddress2">Vacancies</label>
              <select id="inputAddress3" class="form-control">
                <option *ngFor="let bu of vac?.vacancies ">{{ bu }}</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputAddress3">BU Head</label>
              <select id="inputAddress3" class="form-control">
                <option *ngFor="let bu of vac?.buHead ">{{ bu }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="inputAddress2">Hiring Manager</label>
              <select id="inputAddress3" class="form-control">
                <option *ngFor="let bu of vac?.hiringManager ">{{ bu }}</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputAddress2">Band</label>
              <select id="inputAddress3" class="form-control">
                <option *ngFor="let bu of vac?.band ">{{ bu }}</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputAddress2">Job Description</label>
              <input type="button" class="form-control button-link" name="Add Link" value="Add Link" id=""
                (click)="onClick(role)" />
              <div *ngIf="fal==1"> {{ desci }} </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputState">Recruiter</label>
              <select id="inputState" class="form-control">
                <option *ngFor="let bu of vac?.recruiter ">{{ bu }}</option>
              </select>
            </div>
            <div class="col-md-8 align-self-end ">
              <div class="row justify-content-end">
                <div class="form-group col-md-3">
                  <!-- <label for="inputZip">Zip</label> -->
                  <button type="button" class="btn erm-btn-secondary">Reset</button>
                </div>
                <div class="form-group col-md-3">
                  <!-- <label for="inputZip">Zip</label> -->
                  <button type="button" class="btn erm-btn-primary" (click)="onSubmit(frm)">Save</button>
                </div>
              </div>
            </div>
          </div>

        </form>
      </section>
    </section>
  </section>
</body>

</html>